<%= form_for @developer, :html => {:multipart => true} do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Name:' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, 'Biography:'%>
	<div class="field-help">
		<p>
			You can use simplified markup to structure the text. <strong>Headings</strong> are created by prefixing a line with <span class="code">#</span>. <span class="code"># First Heading</span> or <span class="code">## Second Heagin</span> and so forth. <strong>Paragraphs</strong> are automatically created by inserting new-lines in the text and text can be <strong>emphasised</strong> or set in <strong>bold face</strong> with <span class="code">*emphasis*</span> and <span class="code">**bold face**</span>. <strong>Lists</strong> are created with <span class="code">* list item</span> or <span class="code">1. list item</span>. You can add <strong>cross references</strong> to other articles by typing the <span class="code">@</span> character followed by the first letters of the article you want to link to. You can also manually add <strong>links</strong> in the following form <span class="code">[Description](url)</span> e.g. <span class="code">[Wikipedia](http://www.wikipedia.org/)</span>
		</p> 
	</div>
    <%= f.text_area :description  %>
  </div>
    <%= f.label :image, 'Picture of the Developer:' %>
    <div class="field" id="profilepicfields">

      <% imguploader = ImageUploader.new %>
      <% if not @developer.image_url == imguploader.default_url %>
          <br />
          <%= f.label :image, (File.basename f.object.image_url.to_s)%><br/>
          <%=
              image_tag f.object.image_url.to_s, :class => 'thumb rounded'

          %>

		  <%= f.label :remove_image, "Remove this picture?" %>
          <%= f.check_box :remove_image %> <br/>
      <%end  %> <br/>
      Upload a new image: <%= f.file_field :image %>

    </div>


  <div>
    <div class="newFieldsDiv"><script type="text/javascript">loadfields('<%= begin developer_url rescue new_developer_url end %>.json');</script></div>
    <%= submit_tag "Add Field", :type => 'button', :id => 'addFieldButton' ,
      :onclick => 'addField(this,developersfields);'
  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
