<h1>Developers</h1>
<div>
	<% devs = (DeveloperVersioner.instance.current_versions_from_collection Developer.all(:order => 'created_at DESC'))[0..7] %>
	<% devs.concat((DeveloperVersioner.instance.current_versions_from_collection Developer.all(:order => 'popularity DESC'))[0..7]) %>
	<% devs = DeveloperVersioner.instance.current_versions_from_collection devs.uniq %>
	<% devs[0..7].each do |dev| %>
		<% @reportblockcontent =Reportblockcontent.find_by_content_type_and_content_id(1,dev.id)%>
		<% if @reportblockcontent%>
			<% if (@reportblockcontent.status !=4)%>				
				<% if !user_signed_in?%>
					<% if (@reportblockcontent.status !=1)%>
						<div class="tiled_4x">
							<a href="<%= developer_path dev %>">
								<div class="tile">
									<%= image_tag(dev.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
									<div class="caption"><div><%= dev.name %></div></div>
								</div>
							</a>
						</div>
					<% end %>
				<% else%>
					<div class="tiled_4x">
						<a href="<%= developer_path dev %>">
							<div class="tile">
								<%= image_tag(dev.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
								<div class="caption"><div><%= dev.name %></div></div>
							</div>
						</a>
					</div>
				<% end %>
			<% end %>
		<% else%>
			<div class="tiled_4x">
				<a href="<%= developer_path dev %>">
					<div class="tile">
						<%= image_tag(dev.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
						<div class="caption"><div><%= dev.name %></div></div>
					</div>
				</a>
			</div>
		<% end %>
	<% end %>
</div>

<br class="clear" />

<h2>All Developers in Alphabetical Order</h2>
<div>
	<% developers = DeveloperVersioner.instance.current_versions_from_collection Developer.all(:order => 'name') %>
	<% developers.each do |developer| %>
		<% @reportblockcontent =Reportblockcontent.find_by_content_type_and_content_id(1,developer.id)%>
		<% if @reportblockcontent%>
			<% if (@reportblockcontent.status !=4)%>				
				<% if !user_signed_in?%>
					<% if (@reportblockcontent.status !=1)%>
						<div class="tiled_4x">
							<a href="<%= developer_path developer %>">
								<div class="tile">
									<%= image_tag(developer.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
									<div class="caption"><div><%= developer.name %></div></div>
								</div>
							</a>
						</div>
					<% end %>
				<% else%>
					<div class="tiled_4x">
						<a href="<%= developer_path developer %>">
							<div class="tile">
								<%= image_tag(developer.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
								<div class="caption"><div><%= developer.name %></div></div>
							</div>
						</a>
					</div>
				<% end %>
			<% end %>
		<% else%>
			<div class="tiled_4x">
				<a href="<%= developer_path developer %>">
					<div class="tile">
						<%= image_tag(developer.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
						<div class="caption"><div><%= developer.name %></div></div>
					</div>
				</a>
			</div>
		<% end %>
	<% end %>
</div>

<br class="clear" />
<% if user_signed_in? %>
   <div class="more">
       <%= link_to "Create a New Developer Article...", new_developer_path %>
   </div>
<% end %>
