<div class="developer">
	<h1><%=h @developer.name %></h1>

	<div class="fact-box">
		<%=
			imguploader = ImageUploader.new

			if not @developer.image_url == imguploader.default_url
					image_tag @developer.image_url.to_s, :class => "media rounded"
			end
		%>
		<%= render :template => "facts/_standard", :locals => { :object => @developer, :label => "External Links" } %>
		<%= render :template => "facts/_credits", :locals => { :object => @developer } %>
		<%= render :template => "facts/_user_defined", :locals => { :object => @developer } %>
	</div>

	<div class="text">
		<%= markdown(@developer.description) %>
	</div>

	
	<% if user_signed_in? %>
		<div id="versions">
			Version shown: <span id="current-version"><%= @developer.version_number %></span>,  
				<% if @show_restore %>
					<%= link_to "restore this version", restore_developer_version_path(@developer.id, @developer.version_number), :method => :post %>
				<% end %>
			<br/>
			available versions:
			<ul>
				<% Developer.where(:version_id => @developer.version_id).each do |developer| %>
					<li>
						<%= link_to developer.version_number, developer_version_path(developer.id, developer.version_number) %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="clear"></div>
	<%= if user_signed_in?
		link_to 'Edit', edit_developer_path(@developer)
	else
		link_to 'Report', report_developer_path(@developer)
	end %>
</div>




