<h1>Report <%= @kind %> Article</h1>
<p>
	To help us fix the content as fast and efficiently as possible, please state the reason for the report in the field below.
</p>
<p>
	Please also enter your email address, so that we can get back to you.
</p>

<%= form_tag do %>
	<div class="field">
		<%= label(:report, :reason, "Reason for this Report:") %>
		<%= text_area(:report, :reason, :rows => 15) %>
	</div>
	<div class="field">
		<%= label(:report, :email, "Your Email Address (optional)") %><br />
		<%= text_field(:report, :email) %>
	</div>

	<%= submit_tag("Send Report") %>
<% end %>