<h1><%=  @platform.name %></h1>

<%= form_for(@platform) do |f| %>
  <% if @platform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@platform.errors.count, "error") %> prohibited this platform from being saved:</h2>

      <ul>
      <% @platform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">	
    <%= f.label 'Join to ' %><br />
    <script type="text/javascript">var platformTags = ["<%= Platform.all.collect {|x| x.name}.join('", "').html_safe%>"];</script>
    <%= text_field_tag 'new_platforms'%>
    <br/>
  </div>	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @platform %> |
<%= link_to 'Back', platforms_path %>
