<h1>Results</h1>

<% if @game_results.size > 0 %>
	<h2>Games</h2>
	<div>
		<% games = @game_results %>
		<% games.each do |game| %>
			<div class="tiled_2x">
				<a href="/games/<%= game.id %>">
					<div class="tile">
						<%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
						<div class="caption"><div><%= game.title %></div></div>
					</div>
				</a>
			</div>
		<% end %>
	</div>
	<br class="clear" />
<% end %>

<% if @dev_results.size > 0 %>
	<h2>Developers</h2>
	<div>
		<% devs = @dev_results %>
		<% devs.each do |dev| %>
			<div class="tiled_4x">
				<a href="/developers/<%= dev.id %>">
					<div class="tile">
						<%= image_tag(dev.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
						<div class="caption"><div><%= dev.name %></div></div>
					</div>
				</a>
			</div>
		<% end %>
	</div>
	<br class="clear" />
<% end %>

<% if @com_results.size > 0 %>
<h2>Companies</h2>
	<div>
		<% coms = @com_results %>
		<% coms.each do |com| %>
			<div class="tiled_4x">
				<a href="/companies/<%= com.id %>">
					<div class="tile">
						<%= image_tag(com.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
						<div class="caption"><div><%= com.name %></div></div>
					</div>
				</a>
			</div>
		<% end %>
	</div>
<% end %>

<% if @game_results.size == 0 and @dev_results.size == 0 and @com_results.size == 0 %>
<p>no results found!</p>
<% end %>