<h1>Manage Token Lists</h1>
<%= link_to 'Manage Genres', genres_path %></br></br>
<%= link_to 'Manage Tags', tags_path %></br></br>
<%= link_to 'Manage Platforms', platforms_path %></br></br>
<%= link_to 'Manage Media', media_path %></br></br>
<%= link_to 'Manage Modes', modes_path %></br></br>