<h1>Manage users</h1>
<p>Enter the full name or email adress of a user and choose what to do.</p>

<div class="container">
<h3>registered users</h3>
<table>
<tr><td><b>first name</b></td><td><b>last name</b></td><td><b>email</b></td><td><b>blocked?</b></td><td><b>admin?</b></td></tr>
<% User.find(:all).each do |u| %>
	<tr><td> <%= u.firstname %> </td><td> <%= u.lastname %> </td><td> <%= u.email %> </td><td> <%= u.blocked? %> </td><td> <%= u.admin? %> </td></tr>
<% end %>
</table>
</div>

<p />

<%= form_tag ({:controller => "users", :action => "update"}) do %>
  <div class="field">
    <%= label_tag :user_email %><br />
    <%= text_field_tag :user_email %>
  </div>
  
  <div class="field">
    <%= label_tag :firstname %><br />
    <%= text_field_tag :firstname %>
  </div>
  
  <div class="field">
    <%= label_tag :lastname %><br />
    <%= text_field_tag :lastname %>
  </div>
  
  <div class="radiobutton">
	<%= radio_button_tag(:todo, 'promote', true) %>
	<%= label_tag(:todo_promote, "Promote") %>
	<%= radio_button_tag(:todo, 'demote', false) %>
	<%= label_tag(:todo_demote, "Demote") %>
	<%= radio_button_tag(:todo, 'block', false) %>
	<%= label_tag(:todo_block, "Block") %>
	<%= radio_button_tag(:todo, 'unblock', false) %>
	<%= label_tag(:todo_unblock, "Unblock") %>
  </div>
  
  <div class="field">
	<%= label_tag :reason %><br />
    <%= text_field_tag :reason %>
  </div>
  
  <div class="actions">
    <br /><%= submit_tag("Save") %><br />
  </div>
<% end %>
