<h1>About us</h1>
<p>
	The Archive for Austrian Video Game Development strives to gather and preserve information related to video game development in Austria. Our goal is to create a comprehensive archive that serves as an overview over current developments and a constitutes a valuable historical source for the future.
	</p>
<p>
	Information is gathered through public contribution in a "wiki like" fashion. Users create and author articles for games, developers, studios and other organisations, and also correct and amend data. 
</p>
<p>
	The platform is still in its infancy both in terms of the technical realisation and the gathered content. We planed this as a long term endeavour and we invite everyone to join the conversation and support the archive. We believe that games are an important new medium and art form, and thus deserve to be properly preserved and information about the archived.
</p>
<p>
	We are still in an early prototyping stage, and user accounts are only issued manually. If you want to become a contributor, please send us an <a href="mailto:simon@gamelab.at">email</a>.
</p>

<h1>Games</h1>

<% game = GameVersioner.instance.current_version Game.order("RANDOM()").first %>
<% (GameVersioner.instance.current_versions_from_collection Game.order("RANDOM()")).each do |game| %>
	<% @reportblockcontent =Reportblockcontent.find_by_content_type_and_content_id(0,game.id)%>
	<% if game != nil%>
		<% if (@reportblockcontent)%>
				<% if (@reportblockcontent.status !=4)%>
					<% if !user_signed_in?%>
						<% if (@reportblockcontent.status !=1)%>
							<div class="rounded game-teaser-large">
								<a href="<%= game_path game %>">
									<div class="tile">
										<%= image_tag(game.image_url(:top_game).to_s, :class => 'rounded teaser')%>
										<div class="caption"><div><%= game.title %></div></div>
									</div>
								</a>
							</div>
							<% break %>
						<% end %>
					<% else%>
						<div class="rounded game-teaser-large">
							<a href="<%= game_path game %>">
								<div class="tile">
									<%= image_tag(game.image_url(:top_game).to_s, :class => 'rounded teaser')%>
									<div class="caption"><div><%= game.title %></div></div>
								</div>
							</a>
						</div>
						<% break %>
					<% end %>
				<% end %>
		<% else%>
			<div class="rounded game-teaser-large">
				<a href="<%= game_path game %>">
					<div class="tile">
						<%= image_tag(game.image_url(:top_game).to_s, :class => 'rounded teaser')%>
						<div class="caption"><div><%= game.title %></div></div>
					</div>
				</a>
			</div>
			<% break %>	
		<% end %>				
	<% end %>
<% end %>

<div>
	<% games = (GameVersioner.instance.current_versions_from_collection Game.all(:order => 'created_at DESC'))[0..7] %>
	<% games.concat((GameVersioner.instance.current_versions_from_collection Game.all(:order => 'popularity DESC'))[0..7]) %>
	<% games = GameVersioner.instance.current_versions_from_collection games.uniq %>
	<% games[0..7].each do |game| %>
	<% @reportblockcontent =Reportblockcontent.find_by_content_type_and_content_id(0,game.id)%>
		<% if @reportblockcontent%>
			<% if (@reportblockcontent.status !=4)%>
				<% if !user_signed_in?%>
					<% if (@reportblockcontent.status !=1)%>
						<div class="tiled_2x">
							<a href="<%= game_path game %>">
								<div class="tile">
									<%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
									<div class="caption"><div><%= game.title %></div></div>
								</div>
							</a>
						</div>
					<% end %>
				<% else%>
					<div class="tiled_2x">
						<a href="<%= game_path game %>">
							<div class="tile">
								<%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
								<div class="caption"><div><%= game.title %></div></div>
							</div>
						</a>
					</div>
				<% end %>
			<% end %>
		<% else%>
			<div class="tiled_2x">
				<a href="<%= game_path game %>">
					<div class="tile">
						<%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
						<div class="caption"><div><%= game.title %></div></div>
					</div>
				</a>
			</div>
		<% end %>
	<% end %>
</div>
<br class="clear" />
<div class="more"><a href="<%= games_path %>">Find More Games...</a></div>

<h1>Studios & Organisations</h1>
<div>
	<% coms = ( CompanyVersioner.instance.current_versions_from_collection Company.all(:order => 'created_at DESC') )[0..7] %>
	<% coms.concat(( CompanyVersioner.instance.current_versions_from_collection Company.all(:order => 'popularity DESC') )[0..7]) %>
	<% coms = CompanyVersioner.instance.current_versions_from_collection coms.uniq %>
	<% coms[0..7].each do |com| %>
		<% @reportblockcontent =Reportblockcontent.find_by_content_type_and_content_id(2,com.id)%>
		<% if @reportblockcontent%>
			<% if (@reportblockcontent.status !=4)%>				
				<% if !user_signed_in?%>
					<% if (@reportblockcontent.status !=1)%>
						<div class="tiled_4x">
							<a href="<%= company_path com %>">
								<div class="tile">
									<%= image_tag(com.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
									<div class="caption"><div><%= com.name %></div></div>
								</div>
							</a>
						</div>
					<% end %>
				<% else%>
					<div class="tiled_4x">
						<a href="<%= company_path com %>">
							<div class="tile">
								<%= image_tag(com.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
								<div class="caption"><div><%= com.name %></div></div>
							</div>
						</a>
					</div>
				<% end %>
			<% end %>
		<% else%>
			<div class="tiled_4x">
				<a href="<%= company_path com %>">
					<div class="tile">
						<%= image_tag(com.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
						<div class="caption"><div><%= com.name %></div></div>
					</div>
				</a>
			</div>
		<% end %>
	<% end %>
</div>

<br class="clear" />
<div class="more"><a href="<%= companies_path %>">Find More Studios & Organisations...</a></div>



<!-- <div class="companies_random">
<h3>Did you already know...</h3>
	<div>
		<% com = CompanyVersioner.instance.current_version (Company.order("RANDOM()").first) %>
		<% if com != nil %>
			<div class="tiled_2x">
			<a href="/companies/<%= com.id %>">
				<div class="tile">
					<%= image_tag(com.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
					<div class="caption"><div><%= com.name %></div></div>
				</div>
			</a>
			</div>
		<% end %>
	</div>
</div> -->

<br class="clear" />


<h1>Developers</h1>

<div>
	<% devs = (DeveloperVersioner.instance.current_versions_from_collection Developer.all(:order => 'created_at DESC'))[0..7] %>
	<% devs.concat((DeveloperVersioner.instance.current_versions_from_collection Developer.all(:order => 'popularity DESC'))[0..7]) %>
	<% devs = DeveloperVersioner.instance.current_versions_from_collection devs.uniq %>
	<% devs[0..7].each do |dev| %>
		<% @reportblockcontent =Reportblockcontent.find_by_content_type_and_content_id(1,dev.id)%>
		<% if @reportblockcontent%>
			<% if (@reportblockcontent.status !=4)%>				
				<% if !user_signed_in?%>
					<% if (@reportblockcontent.status !=1)%>
						<div class="tiled_4x">
							<a href="<%= developer_path dev %>">
								<div class="tile">
									<%= image_tag(dev.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
									<div class="caption"><div><%= dev.name %></div></div>
								</div>
							</a>
						</div>
					<% end %>
				<% else%>
					<div class="tiled_4x">
						<a href="<%= developer_path dev %>">
							<div class="tile">
								<%= image_tag(dev.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
								<div class="caption"><div><%= dev.name %></div></div>
							</div>
						</a>
					</div>
				<% end %>
			<% end %>
		<% else%>
			<div class="tiled_4x">
				<a href="<%= developer_path dev %>">
					<div class="tile">
						<%= image_tag(dev.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
						<div class="caption"><div><%= dev.name %></div></div>
					</div>
				</a>
			</div>
		<% end %>
	<% end %>
</div>

<br class="clear" />
<div class="more"><a href="<%= developers_path %>">Find More Developers...</a></div>

<!-- <div class="developers_random">
<h3>Did you already know...</h3>
<div>
	<% dev = DeveloperVersioner.instance.current_version Developer.order("RANDOM()").first %>
	<% if dev != nil %>
		<div class="tiled_4x">
		<a href="/developers/<%= dev.id %>">
			<div class="tile">
				<%= image_tag(dev.image_url(:tiled_4x).to_s, :class => 'rounded teaser')%>
				<div class="caption"><div><%= dev.name %></div></div>
			</div>
		</a>
		</div>
	<% end %>
</div>
</div> -->

<br class="clear" />
