<h1>Games</h1>
<% (GameVersioner.instance.current_versions_from_collection Game.order("RANDOM()")).each do |game| %>
    <% @reportblockcontent =Reportblockcontent.find_by_content_type_and_content_id(0,game.id)%>
    <% if game != nil%>
        <% if (@reportblockcontent)%>
            <% if (@reportblockcontent.status !=4)%>
                <% if !user_signed_in?%>
                    <% if (@reportblockcontent.status !=1)%>
                        <div class="rounded game-teaser-large">
                          <a href="<%= game_path game %>">
                            <div class="tile">
                              <%= image_tag(game.image_url(:top_game).to_s, :class => 'rounded teaser')%>
                              <div class="caption"><div><%= game.title %></div></div>
                            </div>
                          </a>
                        </div>
                        <% break %>
                    <% end %>
                <% else%>
                    <div class="rounded game-teaser-large">
                      <a href="<%= game_path game %>">
                        <div class="tile">
                          <%= image_tag(game.image_url(:top_game).to_s, :class => 'rounded teaser')%>
                          <div class="caption"><div><%= game.title %></div></div>
                        </div>
                      </a>
                    </div>
                    <% break %>
                <% end %>
            <% end %>
        <% else%>
            <div class="rounded game-teaser-large">
              <a href="<%= game_path game %>">
                <div class="tile">
                  <%= image_tag(game.image_url(:top_game).to_s, :class => 'rounded teaser')%>
                  <div class="caption"><div><%= game.title %></div></div>
                </div>
              </a>
            </div>
            <% break %>
        <% end %>
    <% end %>
<% end %>
<div>
  <% games = (GameVersioner.instance.current_versions_from_collection Game.all(:order => 'created_at DESC'))[0..3] %>
  <% games.concat((GameVersioner.instance.current_versions_from_collection Game.all(:order => 'popularity DESC'))[0..3]) %>
  <% games = GameVersioner.instance.current_versions_from_collection games.uniq %>
  <% games[0..7].each do |game| %>
      <% @reportblockcontent =Reportblockcontent.find_by_content_type_and_content_id(0,game.id)%>
      <% if @reportblockcontent%>
          <% if (@reportblockcontent.status !=4)%>
              <% if !user_signed_in?%>
                  <% if (@reportblockcontent.status !=1)%>
                      <div class="tiled_2x">
                        <a href="<%= game_path game %>">
                          <div class="tile">
                            <%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
                            <div class="caption"><div><%= game.title %></div></div>
                          </div>
                        </a>
                      </div>
                  <% end %>
              <% else%>
                  <div class="tiled_2x">
                    <a href="<%= game_path game %>">
                      <div class="tile">
                        <%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
                        <div class="caption"><div><%= game.title %></div></div>
                      </div>
                    </a>
                  </div>
              <% end %>
          <% end %>
      <% else%>
          <div class="tiled_2x">
            <a href="<%= game_path game %>">
              <div class="tile">
                <%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
                <div class="caption"><div><%= game.title %></div></div>
              </div>
            </a>
          </div>
      <% end %>
  <% end %>

</div>

<br class="clear" />

<h2>All Games in Alphabetical Order</h2>
<div>
  <% games = GameVersioner.instance.current_versions_from_collection Game.all(:order => 'title') %>
  <% games.each do |game| %>
      <% @reportblockcontent =Reportblockcontent.find_by_content_type_and_content_id(0,game.id)%>
      <% if @reportblockcontent%>
          <% if (@reportblockcontent.status !=4)%>
              <% if !user_signed_in?%>
                  <% if (@reportblockcontent.status !=1)%>
                      <div class="tiled_2x">
                        <a href="/games/<%= game.id %>">
                          <div class="tile">
                            <%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
                            <div class="caption"><div><%= game.title %></div></div>
                          </div>
                        </a>
                      </div>
                  <% end %>
              <% else%>
                  <div class="tiled_2x">
                    <a href="/games/<%= game.id %>">
                      <div class="tile">
                        <%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
                        <div class="caption"><div><%= game.title %></div></div>
                      </div>
                    </a>
                  </div>
              <% end %>
          <% end %>
      <% else%>
          <div class="tiled_2x">
            <a href="/games/<%= game.id %>">
              <div class="tile">
                <%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
                <div class="caption"><div><%= game.title %></div></div>
              </div>
            </a>
          </div>
      <% end %>
  <% end %>
</div>

<br class="clear" />
<% if user_signed_in? %>
    <div class="more">
      <%= link_to 'Create a New Game Article...', new_game_path %>
    </div>
<% end %>