<div class="game">
	<div class="media rounded">
		<%=
				imguploader = ImageUploader.new
				if not @game.image_url == imguploader.default_url
						image_tag @game.image_url(:top_game).to_s
				end
		%>

	</div>
	<h1><%= @game.title %></h1>

	<div class="fact-box">
		<%= render :template => "facts/_mixed_field", :locals => { :object => @developers, :label => "Developer" } %>
		<%= render :template => "facts/_mixed_field", :locals => { :object => @publishers, :label => "Publisher" } %>
		<%= render :template => "facts/_mixed_field", :locals => { :object => @distributors, :label => "Distributor" } %>
		<%= render :template => "facts/_mixed_field", :locals => { :object => @credits, :label => "Credits" } %>
		<%= render :template => "facts/_dates", :locals => { :list => @game.release_dates, :label => "Release Date" } %>
		<%= render :template => "facts/_mixed_field", :locals => { :object => @series, :label => "Series" } %>
	
		<%= render :template => "facts/_list", :locals => {:list => @game.genres, :label => "Genre"} %>
		<%= render :template => "facts/_list", :locals => {:list => @game.platforms, :label => "Platform"} %>
		<%= render :template => "facts/_list", :locals => {:list => @game.modes, :label => "Mode"} %>
		<%= render :template => "facts/_list", :locals => {:list => @game.media, :label => "Media"} %>
		<%= render :template => "facts/_list", :locals => {:list => @game.tags, :label => "Tag"} %>

		
		<%= render :template => "facts/_standard", :locals => { :object => @externalLinks, :label => "External Links" } %>
		<%= render :template => "facts/_standard", :locals => { :object => @aggregateScores, :label => "Aggregate Scores" } %>
		<%= render :template => "facts/_standard", :locals => { :object => @reviewScores, :label => "Review Scores" } %>
		<%= render :template => "facts/_user_defined", :locals => { :object => @game } %>
	</div>

	<div class="text">
		<%= markdown(@game.description) %>
	</div>


	<div class="clear"></div>

	<% if @game.videos != nil && (not @game.videos.empty?) %>
		<h2>Videos</h2>
	<% end %>
	
	<% for video in @game.videos %>
		<div class="media rounded">
			<%=h @str = embed_video(video.embedcode)
				 if @str
					 @str.html_safe
				 end 
			%>
		</div>
	<% end %>

	<% if @game.screenshots != nil && (not @game.screenshots.empty?) %>
		<h2>Screenshots</h2>
	<% end %>
	<% @game.screenshots.each do |screenshot| %>
		 <div class = "media rounded"><%= image_tag screenshot.image_url.to_s %></div>
	<% end%>

	<% if user_signed_in? %>
		<div id="versions">
			Version shown: <span id="current-version"><%= @game.version_number %></span>,  
				<% if @show_restore %>
					<%= link_to "restore this version", restore_game_version_path(@game.id, @game.version_number), :method => :post %>
				<% end %>
			<br/>
			available versions:
			<ul>
				<% @versions.each do |game| %>
					<li><%= link_to game.version_number, game_version_path(@game.id, game.version_number) %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	

	<%= if user_signed_in?
		link_to 'Edit', edit_game_path(@game)
	else
		link_to 'Report', report_game_path(@game)
	end %>

</div>

