<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @reportblockcontent %>  
		<% if @reportblockcontent.status == 1 or @reportblockcontent.status == 2%>
			<div class="field">
			<% if @reportblockcontent.reason %>  
				<%=  f.label :reason %><br />
				<span><%= @reportblockcontent.reason %></span>
			<% end %>
				<%= text_field( :reportblockcontent, :status, :value => 3, :style => "display:none")  %>	
			</div>  
			<% if @reportblockcontent.status == 1 %>	
				<%= f.submit 'Remove Block' %> </br></br>			
			<% else %>
				<%= f.submit 'Remove Lock' %> </br></br>	
			<% end %>  
		<% else %>  
			<% Reportblockcontent.find_all_by_content_type_and_content_id(2,params[:id]).each do |rbcontent| %>
				<% if rbcontent.reason %> 
					<%=  f.label 'Reason: '%><span><%= rbcontent.reason %></span>
					<% if rbcontent.email %> 
						<%=  f.label 'E-mail: '%><span><%= rbcontent.email %></span></br>
					<% end %>
				<% end %>
			<% end %> 
			</br>
			<div class="field">
			<%=  f.label :reason %><br />
			<%=  text_field( :reportblockcontent, :reason, :value => nil )%>
			</div>	
			<div class="radiobutton">
			<%= radio_button('reportblockcontent', 'status', 2) %>
				<%= label_tag(:status, "Lock Company") %>
			<%= radio_button('reportblockcontent', 'status', 1) %>
				<%= label_tag(:status, "Block Company") %>
			</div></br>  
			<%= f.submit 'Save' %> </br></br>
		<% end %> 	  
  <% else %>
	  <div class="field">
		<%=  f.label :reason %><br />
		<%=  text_field( :reportblockcontent, :reason)%>
	  </div>  
	  <div class="radiobutton">
		<%= radio_button('reportblockcontent', 'status', 2) %>
			<%= label_tag(:status, "Lock Company") %>
		<%= radio_button('reportblockcontent', 'status', 1) %>
			<%= label_tag(:status, "Block Company") %>
	  </div></br>  
	  <%= f.submit 'Save' %> </br></br>
  <% end %> 
<% end %>

