<h1>Listing modes</h1>

<table>
  <tr>
	<td><b>Name</b></td>
	<td></td>
	<td></td>
	<td></td>
  </tr>

<% @modes.each do |mode| %>
  <tr>
    <td><%= link_to mode.name, mode %></td>
    <td><%= link_to 'Join', join_mode_path(mode) %></td>
    <td><%= link_to 'Edit', edit_mode_path(mode) %></td>
    <td><%= link_to 'Delete', mode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mode', new_mode_path %> |
<%= link_to 'Back', tokenlists_path %>
