<!DOCTYPE html>
<html>
<head>
  	<title>Game Archive</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
	<link href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application", controller_name %>
  	<%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<div id="responsiveHelper">
	<p>
		media queries:<br>
		<span id="responsive-tag-large-and-up">large and up</span>
		<span id="responsive-tag-mid-only">mid only</span>
		<span id="responsive-tag-mid-and-below">mid and below</span>
		<span id="responsive-tag-mid-and-up">mid and up</span>
		<span id="responsive-tag-small-only">small only</span>
		<span id="responsive-tag-small-and-below">small and below</span>
		<span id="responsive-tag-small-and-up">small and up</span>
		<span id="responsive-tag-tiny-and-below">tiny and below</span>
	</p>
</div>

<div id="header">
	<div class="container">
		<div class="logo">
			<a href="/">
				<%= image_tag'logo.svg' %>
			</a>
		</div>
		<div class="brief">
			<p><em>"The Archive for Austrian Video Game Development strives to capture and preserve information related to video game development in Austria. Our goal is to create a comprehensive archive that serves as an overview over current developments and a constitutes a valuable historical source for the future."</em></p>
		</div>
	
	</div>
</div>
<div id="top-menu">
	<div class="container">	
		<%= render "layouts/menu" %>
		<div class="clear"></div>
	</div>
</div>

<%= render :template => 'notification/_notification' %>

<div id="body">
	<div class="container">
		<%= yield %>
	</div>
</div>

<div id="footer">
	<div class="container">
	    <%= render "layouts/menu" %>	
		<div class="clear"></div>
		
		<div id="legal" class="grid_12">
			<p>The platform behind the archive is developed as open source under the MIT license. You can find the repository at <a href="https://github.com/SimonWallner/archive/">github</a>.</p>
			<p>
				(c) 2012-2013, some rights reserved
			</p>
		</div>
		
		<div class="clear"></div>
		<div id="footerLogo" class="grid_2">

			<%= image_tag 'logo-grey.svg' %>
		</div>
	</div>
</div>				

</body>
</html>
